:root {
	--menuElementWidth: 150px;
	--menuElementHeight: 100px;
	--black: rgb(3, 19, 34);
	--red: rgb(197, 44, 17);
	--white: #fff;
}
/* ogólne */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.link a {
	display: block;
	width: 100%;
	height: 100%;
}
.fix-spaces {
	font-size: 0;
}
html {
	scroll-behavior: smooth;
	overflow: auto;
}
body {
	font-family: 'Playfair Display', serif, sans-serif;
	background-color: #fff;
}
section {
	scroll-margin-top: 100px;
}
ul {
	list-style: none;
	font-size: 18px;
}
a {
	text-decoration: none;
}

/* pasek nawigacji */
nav {
	position: sticky;
	top: 0;
	z-index: 2;
	height: var(--menuElementHeight);
	line-height: var(--menuElementHeight);
	background-color: var(--black);
}
.navbar {
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.menu {
	position: absolute;
	right: -100%;
	width: 100%;
	top: 100px;
	text-transform: uppercase;
	transition: right 0.4s;
}
.menu.active {
	right: 0;
}

.menu-item {
	background-color: var(--black);
	border: none;
}

.menu-item,
.anchor {
	color: var(--white);
	transition: color 0.4s;
}
.menu-item:hover,
.menu-item:hover .anchor {
	color: var(--red);
}

.menu-item:hover .dropdown li {
	display: block;
	animation: menuMovement 0.5s forwards;
	transform-origin: top;
	overflow: hidden;
}
@keyframes menuMovement {
	from {
		opacity: 0;
		transform: scale(0.8) translateY(-40px);
	}
	to {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}
.menu-item:hover .dropdown li:nth-child(2) {
	animation-delay: 0.2s;
}
.menu-item:hover .dropdown li:nth-child(3) {
	animation-delay: 0.4s;
}

.burger-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25%;
	height: 100px;
	cursor: pointer;
}
.bar {
	display: block;
	width: 50px;
	height: 5px;
	margin: 6px auto;
	background-color: var(--white);
}

.home-icon,
.home-img {
	width: 232px;
	height: 80px;
	cursor: pointer;
	overflow: hidden;
}
.home-img {
	background-image: url('img/home-small.png');
	border: none;
}

.dropdown {
	flex-direction: column;
	align-items: center;
}
.dropdown li {
	display: none;
	opacity: 0;
	background-color: var(--black);
}
.dropdown li a {
	color: var(--red);
	transition: color 0.4s;
}

/* header */
.header {
	position: relative;
	background-image: url('img/header-small.jpg');
	background-color: grey;
	background-size: 110%;
	background-position: 0 7%;
	height: 220px;
}
.header-bg,
.header-text {
	position: absolute;
}
.header-bg {
	width: 100%;
	height: 100%;
}
.header-text {
	top: 69%;
	left: 60%;
	transform: translate(-50%, -50%);
	color: var(--white);
}
.header-text h1 {
	text-shadow: 13px -6px 5px #000;
	font-size: 32px;
}
.header-text span {
	color: var(--red);
}
.header-text p {
	font-size: 16px;
	text-shadow: 13px -6px 4px #000;
}

/* main */
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.section-title {
	margin: 30px 0 15px 0;
	font-size: 27px;
	text-transform: uppercase;
	text-align: center;
}

/* o nas */
.about-us-info {
	padding: 0 60px;
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}

/* partnerzy */
.partner {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: var(--black);
	border: 2px solid black;
	text-align: center;
	cursor: pointer;
}
.partner:hover .hero-text h3 {
	transform: rotate(-35deg) scale(1.65);
}
.hero-text {
	position: absolute;
	display: block;
}
.hero-text {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--red);
	font-size: 26px;
}
.hero-text h3 {
	transition: transform 0.6s;
}

/* section 3 */
.contact {
	text-align: center;
}
.contact h3 {
	margin: 20px 0 5px;
}
.fa-solid {
	margin-right: 10px;
}

/* footer */
footer {
	padding: 30px 10px;
	margin-top: 20px;
	text-align: center;
	color: var(--white);
	background-color: var(--black);
}

/* responsywnośc */
@media (min-width: 480px) {
	/* nav */
	.home-icon,
	.home-img {
		height: var(--menuElementHeight);
		width: 290px;
	}
	.home-img {
		background-image: url('img/home-big.png');
	}
	/* header */
	.header {
		height: 260px;
		background-size: 108%;
	}
	.header-text {
		top: 76%;
		left: 66%;
	}
	/* main */
	.partner {
		height: 320px;
	}
	.hero-text {
		font-size: 30px;
	}
}

@media (min-width: 640px) {
	.menu {
		width: 50%;
		top: 100px;
		text-transform: uppercase;
	}
	/* header */
	.header {
		height: 300px;
		background-size: cover;
	}
	.header-text {
		left: 67%;
		top: 80%;
	}
	.header-text h1 {
		font-size: 42px;
	}
	.header-text p {
		font-size: 21px;
	}
	/* main */
	.partner {
		height: 340px;
	}
	.hero-text {
		font-size: 34px;
	}
}

@media (min-width: 768px) {
	/* nav */
	.home-icon,
	.home-img {
		width: 290px;
	}
	/* header */
	.header {
		height: 340px;
		background-image: url('img/header-big.png');
	}
	.header-text {
		top: 83%;
		left: 68%;
	}
	.header-text h1 {
		font-size: 48px;
	}
	.header-text p {
		font-size: 24px;
	}

	/* main */
	.partner {
		height: 360px;
	}
	.hero-text {
		font-size: 36px;
	}
	.about-us-info,
	.contact,
	footer {
		font-size: 22px;
	}
}

@media (min-width: 912px) {
	/* header */
	.header {
		height: 380px;
	}
	.header-text {
		top: 85%;
		left: 72%;
	}
	.header-text h1 {
		font-size: 52px;
	}
	.header-text p {
		font-size: 26px;
	}
	/* main */
	.partner {
		display: inline-block;
		width: 50%;
		height: 400px;
	}
}

@media (min-width: 1280px) {
	.navbar {
		justify-content: space-evenly;
	}
	/* nav */
	.menu {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		top: 0;
		right: 0;
		width: 60%;
		flex-direction: row;
	}
	.menu-item {
		height: var(--menuElementHeight);
		width: var(--menuElementWidth);
		cursor: pointer;
		overflow: hidden;
	}
	.dropdown {
		position: absolute;
	}
	.dropdown li {
		width: var(--menuElementWidth);
		height: var(--menuElementHeight);
	}
	.dropdown li a {
		color: var(--white);
		transition: color 0.4s;
	}
	.dropdown li:hover a {
		color: var(--red);
	}
	.burger-icon {
		display: none;
	}
	/* header */
	.header {
		background-image: url('img/header-huge.jpg');
		background-position: 0 -80px;
		height: 500px;
	}
	.header-bg {
		background-color: rgba(0, 0, 0, 0.45);
	}
	.header-text {
		top: 21%;
		left: 23%;
		color: var(--white);
	}
	.header-text h1,
	.header-text p {
		text-shadow: 8px -10px 8px #000;
	}
	.header-text h1 {
		font-size: 48px;
	}
	.header-text p {
		font-size: 24px;
	}
	/* main */
	.section-title {
		margin: 80px 0 20px 0;
		font-size: 27px;
	}
	.partner {
		height: 400px;
	}
	.hero-text {
		font-size: 40px;
	}
}

@media (min-width: 1600px) {
	/* header */
	.header-text {
		top: 32%;
		left: 82%;
		color: var(--white);
	}
	.header-text h1,
	.header-text p {
		text-shadow: 8px -10px 8px #000;
	}
	.header-text h1 {
		font-size: 48px;
	}
	.header-text p {
		font-size: 24px;
	}
}
